.card{
    justify-content:center;
}

.card-perfil{
    width: 20%;
    height: 15rem;
    align-items: center;
}

.show-cards{
    display: flex;
    flex-direction: row;
}

.profiles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
    width: 90%;
    align-self: center;
    margin-top: 5%;
}

.navbar-brand{
    color: black
}

input.search-query {
    padding-left:26px;
}

form.form-search {
    position: relative;
}

form.form-search:before {
    content:'';
    display: block;
    width: 14px;
    height: 14px;
    background-image: url(http://getbootstrap.com/2.3.2/assets/img/glyphicons-halflings.png);
    background-position: -48px 0;
    position: absolute;
    top:8px;
    left:8px;
    opacity: .5;
    z-index: 1000;
}

.busca{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.home{
    width: 100vw;
    height: 100vh;
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.box {
    width: 420px;
    height: 377px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* geral start */
.hide{
    display: none;
}

#search_buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0;
    width: 100%;
}

#search_all_home{
    width: 45%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 137% */

    text-align: center;

    /* Base Colors / White */

    color: #FFFFFF;
    background: #344FA5;
}

#search_each{
    width: 45%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 137% */

    text-align: center;

    /* Base Colors / White */

    color: #FFFFFF;
    background: #6FCF97;
}


#bloco{
    width: 60%;
    height: 300px;
    /* background-color: hotpink; */
}