
/* Geral*/
html{
    font-family: 'Montserrat', sans-serif;
}

.hide{
    display: none;
}

.menu-descricao{
    display: flex;
    flex-direction: column;
}

/* Geral*/

/* Card de conteudo */

#main{
    margin-top: 0;
    padding: 0;
}

/* Banner*/

.banner{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    /* background-color: blue; */
    background-image: url("../images/banner-fundo.jpg");
    background-repeat:no-repeat;
    background-position:50% 100%;
    background-size:185%;
}

#nome-imagem-perfil-mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    /* background-color: aqua; */
}
#dados-perfil-mobile{
    display: flex;
    justify-content: space-around;
    width: 100%;
    /* background-color: red; */
}

#nome-imagem-perfil{
    display: none;
    flex-direction: row;
    width: 60%;
    height: 60%;
    /* background-color: aqua; */
}

#container-img-perfil {
    width: 60%;
    align-self: center;
}

#img-perfil{
    position: relative;
    border:5px solid lightgray;
    margin-left:10%;
    top: 10%;
    width: 80%;
    margin-top: -100px;
    /* background-color: red; */
}

.nome-nick{
    display: flex;
    flex-direction: column; 
    justify-content: flex-end;
    /* background-color: green; */
}

.nome-nick div{
    display: flex; 
    align-self: center;
}

.nome-nick h8{
    font-weight: 600;
}

.nome-nick a{
    align-self: center;
}

.nome-nick a h1{
    /* font-size: 1.5rem; */
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    align-self: center;
    color: #162668;
}

.nome-nick div h6{
    align-self: center;
    font-family: Montserrat;
    font-weight: 600;
    margin-bottom: 0;
    color: #90A4AE;
}

.img-icones{
    padding: 5px;
    padding-left: 0;
}

.seguindo-projetos-seguidores{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 50%;
}

#dados-perfil{
    display: none;
    justify-content: space-around;
    width: 40%;
    height: 30%;
    /* background-color: red; */
}

/* Banner*/

/* SideBar */
.button-tab-bar{
    display: inline-block;
    background-color: #F7F9FA;
    font-family: 'Montserrat', sans-serif;
    padding: 10;
    width: 100%;
    font-weight: 800;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .400rem .90rem;
    font-size: 1.2rem;
    line-height: 2;
}

.menu-nave{
    width: 100%;
    margin-top: 0;
}

.menu-descricao ul{
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.navegacao{
    display: flex;
    flex-direction:column;
}

#tab-bar li{
    width: 100%;
}
/* SideBar */

/* Bio */
.projetos-biografia{
    display: flex;
    flex-direction:column;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    width: 100%;
}

.biografia{
    padding: 5%;
    font-family: Montserrat;
    font-style: normal;
}

.biografia h2{
    color: #162668;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
}

.biografia p{
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}

.biografia a{
    font-weight: 600;
    font-size: 18px;
}
/* Bio */

/* Projetos */
#repositorios{
    font-family: Montserrat;
    flex-direction: column;
 }

.col-md-8 a{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color:#0366D6;
}

.col-md-8 p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 21px;
    padding-left: 3%;
}

.col-md-3 p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    line-height: 7px;
}

.repo-language-color {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    /* background-color: lightseagreen; */
}

#lang-update div p{
    line-height: 1.5;
    margin-bottom: 0.5rem;
    padding-left: 6px;
}

#lang-update{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 15px;
    
}

#lang-update p{ 
    margin: 0;
}

/* Projetos */

/* conteudo */

/* breakpoint para tablets */
@media(min-width: 481px){
}

/* breakpoint para desktops */
@media(min-width: 769px){
    #main{
        margin-top: 3%;
    }
    .banner{
        height: 200px;
        background-position:100% 98%;
        background-size:100%;
    }
    .menu-descricao{
        flex-direction:row;
    }
    .menu-nave{
        margin-top: 10%;
        width: 20%;
    }
    .projetos-biografia{
        width: 80%;
    }
    #nome-imagem-perfil{
        display: flex;    
    }
    #dados-perfil{
        display: flex;
    }
    #nome-imagem-perfil-mobile{
        display: none;
    }
    #dados-perfil-mobile{
        display: none;
    }
    #container-img-perfil{
        width: 33.3%;
    }
    #img-perfil{
        margin-top: 0;
    }
    .nome-nick div{
        align-self: flex-end;
    }
    #lang-update{
        flex-direction: column;
        justify-content: start;
        padding-right: 0;
    }
    .menu-descricao ul{
        flex-direction: column;
    }
}


/* breakpoint para desktops grandes */
@media(min-width: 1201px){
}